<a href="https://colab.research.google.com/github/ankitaggarwal64/Agricultural-Equipment-Sales-Forecasting/blob/main/Data_Understanding(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Data Undestanding - Data Exploration and Visualisation :**
In this notebook, Following will be done:


*   Treatment of variables and missing values
*   Exploration of Indices
*   Exploration of Sales data

In [22]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#import sales and indices combined data
combined_sales_ind = pd.read_csv("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Output_files/combined_sales_ind.csv",parse_dates=['Time'], index_col='Time')

# displaying data
display(combined_sales_ind)

#Size of data - Sales and 25 Indices
print(combined_sales_ind.shape)

            Sales  livestock1  ...  ConstructionEm  ConsumerConfidenceI
Time                           ...
1990-01-31    505         NaN  ...            5.42                106.5
1990-02-28    467         NaN  ...            5.42                106.7
1990-03-31    467         NaN  ...            5.39                110.6
1990-04-30    593         NaN  ...            5.36                107.3
1990-05-31    866         NaN  ...            5.32                107.3
...           ...         ...  ...             ...                  ...
2016-08-31    102        0.80  ...            6.70                101.8
2016-09-30    200        0.78  ...            6.73                103.5
2016-10-31    611        0.71  ...            6.74                100.8
2016-11-30    205        0.76  ...            6.77                109.4
2016-12-31    328        0.84  ...            6.78                113.3

[324 rows x 36 columns]

(324, 36)

For understanding the indices provided, we will look at the description of the names of indices name provided in dictionary file

In [29]:
# import dictionary file
Indices_description = pd.ExcelFile("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Raw Data/Dictionary.xlsx")

# Looking at the sheets avaialble in excel file
print(Indices_description.sheet_names)

['Dictionary']

In [30]:
# Creating a dictionary of sheets in workbook
Indices_dict = {sheet: Indices_description.parse(sheet) for sheet in Indices_description.sheet_names}

In [45]:
# Extracting the Dictionary sheet from the workbook
Indices_desc = Indices_dict['Dictionary']
print(type(Indices_desc))
print(Indices_desc.shape)
print(Indices_desc)

<class 'pandas.core.frame.DataFrame'>
(35, 3)
             Indices_Name                                        Description      Indices_type
0              livestock1  Broilers, Composite Average, Spot Price - Unit...  Commodity Prices
1              livestock2  Live FOB Basis, Beef Breeds, Steers, 65% to 80...  Commodity Prices
2              livestock3  Cattle Prices, Steers, Choice, 11-13 Centum We...  Commodity Prices
3              livestock4   Feeder Cattle, Steers, Medium No. 1, 600-650 ...  Commodity Prices
4              livestock5   Hog Prices, Barrows and Gilts, 6 Markets ($/CWT)  Commodity Prices
5              livestock6  Hog Prices, Sows, No. 1-3 - Iowa/South Minneso...  Commodity Prices
6                   corn1  Corn Futures, 1st Expiration Nearby, Settlemen...  Commodity Prices
7                   corn2  North Central and South Central Illinois Corn ...  Commodity Prices
8                   corn3  Producer Prices Received, Field Crops, Corn ($...  Commodity Prices
9                   corn4          Corn, No. 2 Yellow, Gulf Ports, US ($/bu)  Commodity Prices
10                 wheat1  Chicago Terminal Grain Report, SRW Wheat (cent...  Commodity Prices
11                 wheat2   Chicago SRW Wheat Futures, 1st Expiration Nea...  Commodity Prices
12                 wheat3  Kansas City Daily HRW Wheat, Ordinary Protein,...  Commodity Prices
13                 wheat4  Producer Prices Received, Field Crops, Wheat, ...  Commodity Prices
14                 wheat5  No. 1 hard red winter (ordinary protein), Texa...  Commodity Prices
15                   hay1          HAY - PRICE RECEIVED, MEASURED IN $ / TON  Commodity Prices
16                   hay2  HAY, ALFALFA - PRICE RECEIVED, MEASURED IN $ /...  Commodity Prices
17                 dairy1  NASS WHEY, DRY, HUMAN - PRICE RECEIVED, MEASUR...  Commodity Prices
18                 dairy2  NASS MILK, DRY, NONFAT, HUMAN - PRICE RECEIVED...  Commodity Prices
19                 dairy3                              Class II Milk ($/CWT)  Commodity Prices
20                 dairy4                             Class III Milk ($/CWT)  Commodity Prices
21                 dairy5                              Class IV Milk ($/CWT)  Commodity Prices
22                 dairy6  Producer Prices Received, Dairy, Milk, All ($/...  Commodity Prices
23            BRLCSPOT.D7  Commodities, Foods, Broilers, Composite Averag...  Commodity Prices
24             STRTXOK.D7  Commodities, Foods, Live FOB Basis, Beef Breed...  Commodity Prices
25             FarmIncome                     US Net Farm Income (Billion $)  Economic indices
26  Non-ResidentialInvest  Non-Residential Investment: National Income an...  Economic indices
27                  HOUST  Total Housing Starts (mil): Housing and Constr...  Economic indices
28                RealGDP  Real GDP (bil): National Income and Production...  Economic indices
29               Unemploy  Civilian Unemployment Rate (%): United States,...  Economic indices
30            Interest_US  Prime Interest Rate (%): PRIME RATE CHARGED BY...  Economic indices
31          ConsumerInflt  Consumer Price Inflation: Prices, Consumer Pri...  Economic indices
32         30YearMtggRate  Fixed Rate 30 Year Mortgage Rate (%): AVG CONV...  Economic indices
33         ConstructionEm  Construction Employment (mil): Labor Market, E...  Economic indices
34    ConsumerConfidenceI  Consumer Confidence Index: Survey and Diffusio...  Economic indices

**Observations from Indices description:**

1.   There are two types of indices - Commodity prices(25) and Economic Indices(10)
2.   Some of names of the commodity prices indices are too general or too specific, therefore those can be changed for out better analysis.

In [57]:
# Creating a dictionary for new column names
new_column_names = {"livestock1" : "livestock1_broilers","livestock2" : "livestock2_beef_steers",
                   "livestock3" : "livestock3_steers","livestock4" : "livestock4_steers","livestock5" : "livestock5_hog",
                   "livestock6" : "livestock6_hog","BRLCSPOT.D7" : "BRLCS_broilers","STRTXOK.D7" : "STRTXOK_beef_steers" }

# Rename Columns
clean_combined_sales_ind = combined_sales_ind.rename(columns = new_column_names)
display(clean_combined_sales_ind.head())

            Sales  livestock1_broilers  livestock2_beef_steers  livestock3_steers  livestock4_steers  livestock5_hog  livestock6_hog   corn1   corn2  corn3  corn4  wheat1  wheat2  wheat3  wheat4  wheat5  hay1   hay2  dairy1  dairy2  dairy3  dairy4  dairy5  dairy6  BRLCS_broilers  STRTXOK_beef_steers  FarmIncome  Non-ResidentialInvest   HOUST  RealGDP  Unemploy  Interest_US  ConsumerInflt  30YearMtggRate  ConstructionEm  ConsumerConfidenceI
Time
1990-01-31    505                  NaN                   79.06                NaN                NaN             NaN             NaN  239.83  229.41   2.31   2.69  402.53  396.76  429.99    3.71     NaN  84.9   93.3     NaN     NaN     NaN     NaN     NaN    15.5             NaN                79.06       46.26                    NaN  1551.0   8947.1       5.4        10.11           1.28            9.90            5.42                106.5
1990-02-28    467                  NaN                   79.04                NaN                NaN             NaN             NaN  241.59  234.97   2.32   2.70  392.28  386.30  412.67    3.56     NaN  85.7   95.2     NaN     NaN     NaN     NaN     NaN    14.5             NaN                79.04       46.26                    NaN  1437.0   8947.1       5.3        10.00           1.28           10.20            5.42                106.7
1990-03-31    467                  NaN                   79.16                NaN                NaN             NaN             NaN  250.58  244.68   2.37   2.72  387.13  377.33  403.26    3.48     NaN  87.5   96.7     NaN     NaN     NaN     NaN     NaN    13.9             NaN                79.16       46.26                    NaN  1289.0   8947.1       5.2        10.00           1.29           10.27            5.39                110.6
1990-04-30    593                  NaN                   79.89                NaN                NaN             NaN             NaN  273.49  263.98   2.51   3.01  383.06  367.06  412.49    3.49     NaN  95.0  103.0     NaN     NaN     NaN     NaN     NaN    13.4             NaN                79.89       46.26                    NaN  1248.0   8981.7       5.4        10.00           1.29           10.37            5.36                107.3
1990-05-31    866                  NaN                   78.28                NaN                NaN             NaN             NaN  284.34  273.86   2.62   3.08  371.44  365.44  389.52    3.40     NaN  96.0  104.0     NaN     NaN     NaN     NaN     NaN    13.5             NaN                78.28       46.26                    NaN  1212.0   8981.7       5.4        10.00           1.29           10.48            5.32                107.3

In [59]:
#Checking datatypes
clean_combined_sales_ind.dtypes

Sales                       int64
livestock1_broilers       float64
livestock2_beef_steers    float64
livestock3_steers         float64
livestock4_steers         float64
livestock5_hog            float64
livestock6_hog            float64
corn1                     float64
corn2                     float64
corn3                     float64
corn4                     float64
wheat1                    float64
wheat2                    float64
wheat3                    float64
wheat4                    float64
wheat5                    float64
hay1                      float64
hay2                      float64
dairy1                    float64
dairy2                    float64
dairy3                    float64
dairy4                    float64
dairy5                    float64
dairy6                    float64
BRLCS_broilers            float64
STRTXOK_beef_steers       float64
FarmIncome                float64
Non-ResidentialInvest     float64
HOUST                     float64
RealGDP                   float64
Unemploy                  float64
Interest_US               float64
ConsumerInflt             float64
30YearMtggRate            float64
ConstructionEm            float64
ConsumerConfidenceI       float64
dtype: object

In [60]:
#Checking summary statistics
clean_combined_sales_ind.describe()

             Sales  livestock1_broilers  livestock2_beef_steers  livestock3_steers  livestock4_steers  livestock5_hog  livestock6_hog       corn1       corn2       corn3       corn4       wheat1       wheat2       wheat3      wheat4      wheat5        hay1        hay2      dairy1      dairy2      dairy3      dairy4      dairy5      dairy6  BRLCS_broilers  STRTXOK_beef_steers  FarmIncome  Non-ResidentialInvest        HOUST       RealGDP    Unemploy  Interest_US  ConsumerInflt  30YearMtggRate  ConstructionEm  ConsumerConfidenceI
count   324.000000           310.000000              321.000000         224.000000         224.000000      224.000000      225.000000  324.000000  324.000000  324.000000  324.000000   324.000000   324.000000   324.000000  324.000000  289.000000  324.000000  324.000000  220.000000  220.000000  258.000000  277.000000  264.000000  324.000000      310.000000           321.000000  324.000000             216.000000   324.000000    324.000000  324.000000   324.000000     324.000000      324.000000      324.000000           324.000000
mean    439.416667             0.700097               88.387321          96.881786         126.124330       49.478438       39.450267  333.574846  321.146605    3.154938    3.715309   422.529444   443.689877   509.611636    4.420432    5.367232  110.327469  118.854321    0.352045    1.136773   14.837558   14.336968   14.083485   15.342593        0.700097            88.387321   65.728519            1804.805556  1306.916667  12960.656481    6.049383     6.022191       1.872284        6.392346        6.133117            90.493395
std     221.052834             0.154801               25.070336          27.535873          43.602165       12.668950       15.210220  146.908376  149.931396    1.395110    1.594009   165.182594   172.665163   200.103259    1.729261    1.998499   34.938395   40.840729    0.170473    0.345275    3.449710    3.425877    3.448345    3.237528        0.154801            25.070336   21.973514             234.066304   423.626562   2415.163914    1.546703     2.313083       0.343634        1.785735        0.871779            26.365347
min     102.000000             0.450000               58.080000          58.280000          70.370000       16.620000        7.800000  178.290000  148.830000    1.520000    1.910000   194.360000   235.860000   267.670000    2.220000    2.770000   68.200000   71.000000    0.140000    0.730000   10.250000    8.570000    9.450000   11.000000        0.450000            58.080000   39.660000            1459.000000   478.000000   8865.600000    3.800000     3.250000       1.280000        3.350000        4.570000            25.300000
25%     263.000000             0.570000               69.330000          77.435000          95.867500       40.535000       28.320000  226.122500  215.297500    2.140000    2.557500   304.467500   315.277500   360.145000    3.207500    3.860000   83.975000   89.200000    0.220000    0.880000   12.250000   11.610000   11.607500   12.800000        0.570000            69.330000   47.720000            1609.825000  1004.000000  10711.025000    4.900000     3.250000       1.580000        4.887500        5.497500            68.272500
50%     397.000000             0.655000               80.460000          89.065000         114.275000       48.420000       38.440000  268.420000  262.095000    2.555000    2.965000   371.335000   384.370000   435.100000    3.750000    4.750000   96.550000  104.000000    0.290000    1.010000   14.085000   13.800000   13.235000   14.500000        0.655000            80.460000   58.950000            1740.850000  1340.000000  13262.250000    5.600000     6.000000       1.840000        6.390000        6.120000            93.080000
75%     571.000000             0.810000               98.110000         119.402500         145.387500       57.680000       47.380000  382.970000  365.237500    3.672500    4.310000   499.312500   527.990000   621.295000    5.425000    6.500000  129.000000  137.000000    0.480000    1.312500   16.597500   16.330000   15.765000   17.100000        0.810000            98.110000   79.260000            1989.350000  1604.250000  14903.325000    6.900000     8.250000       2.172500        7.680000        6.780000           106.550000
max    1498.000000             1.150000              167.500000         170.040000         262.340000       95.170000       93.440000  803.540000  815.900000    7.630000    8.460000  1039.530000  1096.330000  1229.330000   10.500000   11.990000  196.000000  227.000000    0.780000    2.090000   26.110000   24.600000   23.890000   25.700000        1.150000           167.500000  123.730000            2217.500000  2273.000000  16813.300000   10.000000    10.110000       2.430000       10.480000        7.730000           144.700000

**Missing Values Treatment:**

In [69]:
# Checking fraction of missing values in each column
clean_combined_sales_ind.isnull().mean()>0

Sales                     False
livestock1_broilers        True
livestock2_beef_steers     True
livestock3_steers          True
livestock4_steers          True
livestock5_hog             True
livestock6_hog             True
corn1                     False
corn2                     False
corn3                     False
corn4                     False
wheat1                    False
wheat2                    False
wheat3                    False
wheat4                    False
wheat5                     True
hay1                      False
hay2                      False
dairy1                     True
dairy2                     True
dairy3                     True
dairy4                     True
dairy5                     True
dairy6                    False
BRLCS_broilers             True
STRTXOK_beef_steers        True
FarmIncome                False
Non-ResidentialInvest      True
HOUST                     False
RealGDP                   False
Unemploy                  False
Interest_US               False
ConsumerInflt             False
30YearMtggRate            False
ConstructionEm            False
ConsumerConfidenceI       False
dtype: bool

In [73]:
# checking rows with missing values
#clean_combined_sales_ind.loc[:,clean_combined_sales_ind.isnull().mean()>0]