<a href="https://colab.research.google.com/github/ankitaggarwal64/Agricultural-Equipment-Sales-Forecasting/blob/main/Feature_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Feature Selection**

We will use Boruta feature selection algorithm which is statistically grounded and works extremely well even without any specific input by the user. Two key ideas behind Boruta method.


*   The first idea: shadow features:In this, features do not compete among themselves. Instead they compete with a randomized version of them.
*   The second idea: binomial distribution(the key is iteration)

**Feature Selection considering variables only with no significant missing values(data from 1990)**

In [1]:
import pandas as pd

In [2]:
#import data without predictors with significant missing values
data = pd.read_csv("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Output_files/data_without_missvalcol.csv",parse_dates=['Time'], index_col='Time')

#Size of data - Sales and Indices
print(data.shape)

# displaying data
display(data)

(324, 35)

            Sales   corn1  ...  STRTXOK_beef_steers_isNA  Non-ResidentialInvest_isNA
Time                       ...
1990-01-31    505  239.83  ...                         0                           1
1990-02-28    467  241.59  ...                         0                           1
1990-03-31    467  250.58  ...                         0                           1
1990-04-30    593  273.49  ...                         0                           1
1990-05-31    866  284.34  ...                         0                           1
...           ...     ...  ...                       ...                         ...
2016-08-31    102  323.04  ...                         0                           0
2016-09-30    200  328.90  ...                         0                           0
2016-10-31    611  349.49  ...                         0                           0
2016-11-30    205  344.98  ...                         0                           0
2016-12-31    328  349.68  ...                         0                           0

[324 rows x 35 columns]

In [3]:
# data without _isNA columns in data
data = data.iloc[:,0:20]
display(data)

            Sales   corn1  ...  ConstructionEm  ConsumerConfidenceI
Time                       ...
1990-01-31    505  239.83  ...            5.42                106.5
1990-02-28    467  241.59  ...            5.42                106.7
1990-03-31    467  250.58  ...            5.39                110.6
1990-04-30    593  273.49  ...            5.36                107.3
1990-05-31    866  284.34  ...            5.32                107.3
...           ...     ...  ...             ...                  ...
2016-08-31    102  323.04  ...            6.70                101.8
2016-09-30    200  328.90  ...            6.73                103.5
2016-10-31    611  349.49  ...            6.74                100.8
2016-11-30    205  344.98  ...            6.77                109.4
2016-12-31    328  349.68  ...            6.78                113.3

[324 rows x 20 columns]

In [5]:
!pip install boruta

Collecting boruta
  Downloading https://files.pythonhosted.org/packages/b2/11/583f4eac99d802c79af9217e1eff56027742a69e6c866b295cce6a5a8fc2/Boruta-0.3-py3-none-any.whl (56kB)
     |████████████████████████████████| 61kB 4.3MB/s
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from boruta) (0.22.2.post1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from boruta) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from boruta) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.17.1->boruta) (0.17.0)
Installing collected packages: boruta
Successfully installed boruta-0.3

In [37]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from boruta import BorutaPy

# load X and y
# NOTE BorutaPy accepts numpy arrays only, hence the .values attribute
X = data.iloc[:,1:20]
y = data.iloc[:,0]

# define random forest classifier, with utilising all cores and
# sampling in proportion to y labels
rf = RandomForestRegressor(n_jobs=-1,max_depth=5)

# define Boruta feature selection method
feat_selector = BorutaPy(rf, n_estimators='auto',max_iter = 100, random_state=1)

# find all relevant features
feat_selector.fit(np.array(X),np.array(y))

In [39]:
# print results
green_area = X.columns[feat_selector.support_].to_list()
blue_area = X.columns[feat_selector.support_weak_].to_list()
print('features to keep(confirmed):', green_area)
print('features to keep(tentatively):', blue_area)

features to keep(confirmed): ['corn1', 'hay2', 'ConstructionEm']
features to keep(tentatively): ['wheat4', 'HOUST']

In [40]:
# Save selected features along with Sales data
data_boruta_select = data[['Sales']+ green_area + blue_area]
data_boruta_select.to_csv("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Output_files/data_boruta_select.csv")

print(data_boruta_select.head())

            Sales   corn1   hay2  ConstructionEm  wheat4   HOUST
Time
1990-01-31    505  239.83   93.3            5.42    3.71  1551.0
1990-02-28    467  241.59   95.2            5.42    3.56  1437.0
1990-03-31    467  250.58   96.7            5.39    3.48  1289.0
1990-04-30    593  273.49  103.0            5.36    3.49  1248.0
1990-05-31    866  284.34  104.0            5.32    3.40  1212.0

**Feature Selection considering all variables(with data from 1999)**

In [41]:
#import data without predictors with significant missing values
data_after_1999 = pd.read_csv("/content/drive/My Drive/1. Data Science/Sales Forecasting_Masters Project/Masters Project/Data/Output_files/data_from_1999.csv",parse_dates=['Time'], index_col='Time')

#Size of data - Sales and Indices
print(data_after_1999.shape)

# displaying data
display(data_after_1999)

(216, 43)

            Sales  ...  Non-ResidentialInvest_isNA
Time               ...
1999-01-31    335  ...                           0
1999-02-28    308  ...                           0
1999-03-31    395  ...                           0
1999-04-30    571  ...                           0
1999-05-31    367  ...                           0
...           ...  ...                         ...
2016-08-31    102  ...                           0
2016-09-30    200  ...                           0
2016-10-31    611  ...                           0
2016-11-30    205  ...                           0
2016-12-31    328  ...                           0

[216 rows x 43 columns]

In [43]:
# data without _isNA columns in data
data_after_1999 = data_after_1999.iloc[:,0:28]
display(data_after_1999)

            Sales  livestock4_steers  ...  ConstructionEm  ConsumerConfidenceI
Time                                  ...
1999-01-31    335              75.60  ...            6.36                128.9
1999-02-28    308              79.14  ...            6.43                133.1
1999-03-31    395              81.14  ...            6.40                134.0
1999-04-30    571              82.73  ...            6.48                135.5
1999-05-31    367              81.08  ...            6.52                137.7
...           ...                ...  ...             ...                  ...
2016-08-31    102             151.20  ...            6.70                101.8
2016-09-30    200             138.38  ...            6.73                103.5
2016-10-31    611             121.82  ...            6.74                100.8
2016-11-30    205             131.47  ...            6.77                109.4
2016-12-31    328             131.13  ...            6.78                113.3

[216 rows x 28 columns]

In [44]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from boruta import BorutaPy

# load X and y
# NOTE BorutaPy accepts numpy arrays only, hence the .values attribute
X = data_after_1999.iloc[:,1:]
y = data_after_1999.iloc[:,0]

# define random forest classifier, with utilising all cores and
# sampling in proportion to y labels
rf = RandomForestRegressor(n_jobs=-1,max_depth=5)

# define Boruta feature selection method
feat_selector = BorutaPy(rf, n_estimators='auto',max_iter = 100, random_state=1)

# find all relevant features
feat_selector.fit(np.array(X),np.array(y))

BorutaPy(alpha=0.05,
         estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                         criterion='mse', max_depth=5,
                                         max_features='auto',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1,
                                         min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         n_estimators=63, n_jobs=-1,
                                         oob_score=False,
                                         random_state=RandomState(MT19937) at 0x7FA45314ACA8,
                                         verbose=0, warm_start=False),
         max_iter=100, n_estimators='auto', perc=100,
         random_state=RandomState(MT19937) at 0x7FA45314ACA8, two_step=True,
         verbose=0)

In [46]:
# print results
green_area = X.columns[feat_selector.support_].to_list()
blue_area = X.columns[feat_selector.support_weak_].to_list()
print('features to keep(confirmed):', green_area)
print('features to keep(tentatively):', blue_area)

#Observation : All the three varaibles selected here were alreadt in feature selection with limited variable above(data from 1990)( as wheat2 is highly correlated to wheat4)

features to keep(confirmed): ['HOUST', 'ConstructionEm']
features to keep(tentatively): ['wheat3']

Based on above feature selection analysis, we will consider all 5 variables (corn1,    hay2, ConstructionEm, wheat4, HOUST) for further modelling